<div class="container-fluid" ng-controller="ComparisonCtrl">
    <div class="col-md-8 col-md-offset-2 form-container">
        <form class="form-inline">
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="byjudet">Judet</label>
                <input type="text" class="form-control" id="byjudet" placeholder="Introduceti judetul" value="Bucuresti">
            </div>
            <div class="form-group col-md-12 data-adjust5">
                <div class="ib">
                    <label for="byinstitutie">Institutia 1</label>
                    <input type="text" class="form-control" id="byinstitutie" placeholder="Introduceti institutia">
                </div>
                <div class="ib">
                    <label for="byinstitutie2">Institutia 2</label>
                    <input type="text" class="form-control" id="byinstitutie2" placeholder="Introduceti institutia">
                </div>
            </div>
        </form>
        <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels"> chart-series="series"></canvas>
    </div>
</div>