<div class="container-fluid" ng-controller="FilterCtrl">
    <div class="col-md-12 form-container">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="institutie">Institutie</label>
                <input type="text" class="form-control" id="institutie" placeholder="Type here">
            </div>
            <div class="form-group">
                <label for="judet">Judet</label>
                <input type="text" class="form-control" id="judet" placeholder="Type here">
            </div>
        </form>
    </div>
    <div class="table-responsive col-md-12 table-container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Institutie</th>
                    <th>Judet</th>
                    <th>Arie</th>
                    <th>Venit</th>
                    <th>Cheltuieli</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Blaaa</td>
                    <td>Blaaaaa</td>
                    <td>Bla blaa</td>
                    <td>500000</td>
                    <td>7000000</td>
                </tr>
                <tr>
                    <td>Blaaa</td>
                    <td>Blaaaaa</td>
                    <td>Bla blaa</td>
                    <td>3500000</td>
                    <td>8250000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<div>
        <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels"></canvas>
    </div>-->
</div>