fbody,
html {
    height: auto;
    background: none;
}


body {
    background: #464646 url("http://i.imgur.com/HSG25BV.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Roboto, sans-serif;
}

.nav-pills {
    float: right;
    font-weight: 500;
    font-size: 16px;
    padding-top: 5px;
}

.nav-pills a {
	color: white;
}

.nav>li>a:hover,
.nav>li>a:focus {
	background-color: rgba(255,255,255,.15);
}

.map {
    width: 100%;
    height: 500px;
}

.map h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 440px;
    color: #000;
    font-weight: 900;
}

polyline,
polygon,
path {
    stroke: #fff;
    fill: #608061;
}

g {
    transform: scale(1.1);
}

.county {
    fill: rgba(0, 201, 255, 0.82);
    fill-opacity: 1;
    stroke: rgba(0, 0, 0, 0.87);
    stroke-opacity: 1;
    stroke-width: 0.5;
}

.county:hover {
    fill: rgba(18, 128, 255, 0.82);
}

.description-container {
    background-color: #fff;
    padding: 80px 0 80px 0;
    height: auto;
}

.description h1 {
    font-weight: 700;
}

.description p {
    font-weight: 500;
    line-height: 20px;
    color: #555555;
    padding-top: 20px;
}

.img-responsive {
    display: inline-block;
}

footer {
    margin: 30px 0 30px 0;
    text-align: center;
}

footer img {
    width: 146px;
    height: 146px;
}

footer h1 {
    color: #fff;
    margin: 0 0 30px 0;
    padding-left: 5%;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
    text-align: left;
}

figure {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 0 20px;
}

figcaption {
    display: block;
    width: 160px;
    margin: 5px auto;
    padding: 12px;
    text-align: center;
    color: #fff;
    background-color: rgba(51,51,51,1);
    transition: background-color 0.3s ease;
    line-height: 14px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
}

.form-container,
.table-container,
.chart-container {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 1);
    padding: 25px 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.ng-modal-dialog {
    z-index:999;
    position: fixed;
    min-width: 550px;
    min-height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
}

.ng-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.ng-modal-close {
    color: #FD0021;
    position: absolute;
    right: -30px;
    top: -30px;
    font-size: 30px;
    font-weight: 900;
}

#bucuresti {
    fill: rgba(0, 72, 255, 0.82);
}

#bucuresti:hover {
    fill: rgba(0, 107, 255, 0.82);
}
.nav>li {
    text-align: center;
    margin: 0 20px;
}

.nav>li>a {
    padding: 5px 10px;
}

.data-adjust2 {
    top: 13px;
}

.data-adjust4 {
    margin-top: 30px;
    width: 45%;
}

.data-adjust5 {
    margin-top: 30px;
}

.btn.btn-default.data-adjust3{
    border-radius: 4px;
}

.md-whiteframe-1dp,
.md-whiteframe-z1 {
    box-shadow: none;
}

md-autocomplete input:not(.md-input) {
    height: 34px;
    line-height: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

md-autocomplete input:not(.md-input):focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

md-autocomplete, md-autocomplete-wrap {
    height: 34px;
}

md-autocomplete button {
    line-height: 15px;
    width: 34px;
    height: 34px;
    font-size: 14px;
    margin: 0;
}

.ib .input-group.data-adjust2 input.datepicker {
    border-radius: 4px;
}

.form-group input.max-width {
    width: 100%;
}

.ib {
    display: inline-block;
    width: 49.5%;
    text-align: center;
}
.data{
    color: white;
    font-size: 20px;
    top: 45%;
    left: 20%;
    transform: translate(-50%,-20%);
}
.data-container {
    border: 4px solid rgba(15, 115, 213, 0.4);
    height: 20%;
    width: 25%;
    background-color: rgba(6, 170, 215,0.9);
    padding: 15px 0 15px 35px;
    line-height: 1.5;
}

/*=========================utility classes======================*/
.relative {
    position:relative;
}
.absolute {
    position: absolute;
}
.txt-align {
    text-align: center;
}

.face-container {
    background-color: rgba(51,51,51,1);
    position: relative;
    z-index: 2;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    transition: border-radius 0.4s ease-in-out 0.4s;
}

.face-container:hover {
    border-radius: 10px;
}

.face {
    width: 100%;
    height: 100%;
    background-size: contain;
    position: relative;
    border-radius: 50%;
    transition: opacity 0.4s ease-in-out 0.8s;
}

.face-container:hover .face{
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.desc {
    padding: 10px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: bolder;
    color: transparent;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: color 0.4s ease-in-out;
}

.face-container:hover .desc {
    color: rgba(0, 201, 255, 0.82);
    transition: color 0.4s ease-in-out 0.8s;
}

.roxanau {
    background-image: url("https://media.licdn.com/media/p/3/005/061/11c/12375ce.jpg");
}

.roxanab {
    background-image: url("https://media.licdn.com/media/p/2/005/034/10b/32672fe.jpg");
}

.alex {
    background-image: url("https://media.licdn.com/media/AAEAAQAAAAAAAARCAAAAJGY0ZGFmMmFlLWJjOGEtNDExZi05NjFkLWEyNmYwYjczMzM3Mg.jpg");
}

.ionut {
    background-image: url("https://media.licdn.com/media/AAEAAQAAAAAAAASKAAAAJDNmMmJjODhhLTk2YzctNDRhYi05MTQxLTZiNWZmZWJjZGRjMw.jpg");
}

.george {
    background-image: url("https://media.licdn.com/media/AAEAAQAAAAAAAAaDAAAAJDQ4NjBiYjNhLTU3YzQtNGQyMy1hOWUxLTNiZjdhYWJkYjU2MA.jpg");
}

.grigore {
    background-image: url("https://media.licdn.com/media/p/6/005/0a7/1ae/334e242.jpg");
}

.inst {
    max-width:250px;
}

.filter-title {
    position: relative;
    margin: 40px 0 10px;
    font-size: 25px;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.filter-title::after {
    content: '';
    border-bottom: 2px solid white;
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}
.buttons {
    background-color: rgba(0, 201, 255, 0.82);
    border-color: rgba(0, 201, 255, 1);
    font-weight: 500;
}
.buttons:hover {
    background-color: rgba(0, 176, 255, 0.82);
    border-color: #00A8FF;
}