body {
    background: #464646 url("http://i.imgur.com/HSG25BV.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Roboto, sans-serif;
}

.nav-pills {
    float: right;
    font-weight: 500;
    font-size: 16px;
    padding-top: 5px;
}

.nav-pills a {
    color: #fff;
}
.nav>li>a:hover, .nav>li>a:focus  {
    background-color: rgba(255,255,255,.15);
}

.map {
    width: 100%;
    height: 500px;
}

.map h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 440px;
    color: #000;
    font-weight: 900;
}
polyline, polygon, path {
    stroke: #fff;
    fill: green;
}

.county {
    fill: ccc;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

.county:hover {
    fill: #399b3b;
}

.description-container {
    background-color: #fff;
    padding: 80px 0 80px 0;
    height: auto;
}

.description h1 {
    font-weight: 700;
}

.description p {
    font-weight: 500;
    line-height: 20px;
    color: #555555;
    padding-top: 20px;
}

.img-responsive {
    display: inline-block;
}

footer {
    margin: 30px 0 30px 0;
    text-align: center;
}
footer img {
    width: 146px;
    height: 146px;
}
footer h1 {
    color: #fff;
    margin: 0 0 30px 0;
    padding-left: 5%;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
    text-align: left;
}
figure {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 0 20px;
}
figcaption {
    display: block;
    width: 170px;
    margin: 5px auto;
    padding: 15px;
    text-align: center;
    color: #fff;
    background-color: rgba(51,51,51,1);
    transition: background-color 0.3s ease;
    line-height: 14px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
}
.form-container, .table-container, .chart-container {
    margin: 30px 0 30px 0;
    background-color: rgba(255, 255, 255, 1);
    padding: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.ng-modal-dialog {
    z-index:999;
    position: fixed;
    min-width: 550px;
    min-height: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    padding: 20px;
    font-size: 14px;
    font-weight: 700;
}
.ng-modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}
.ng-modal-close {
    color: #FD0021;
    position: absolute;
    right: -30px;
    top: -30px;
    font-size: 30px;
    font-weight: 900;
}
